@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.centered {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -75px;
}

section {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #191919;
}

h3 {
    color: #999;
    font-size: 1.25rem;
}

a {
    text-decoration: inherit;
    color: #87ceeb;
}

a:hover {
    color: #549bb8;
}

footer {
    color: #999;
    font-size: .75rem;
    text-align: center;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -40px;
}

p {
    margin: 0 10%;
}

em {
    color: #f33;
}

#info{
    z-index: 1;
    background: rgba(255,255,255,.87);
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
}

#info-wrapper{
    padding: 75px;
}

button:focus{outline: none;}

button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 1px solid #191919;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px;
}